/*------------------------------------*\
    #CASE-STUDIES
\*------------------------------------*/

.case-studies-container {

}

.case-studies-intro {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto 2em;
  font-family: Merriweather, serif;
}
.case-study__thumb {
  display: block;
  padding: 1em .5em;
  // background: #fff;
  width: 100%;
  margin-bottom: 2em;
  border: none;
  color: inherit;
  font-size: calc(1em + .25vw);
  // box-shadow: 5px 5px 15px rgba(0,0,0,0.2);

  &:hover, &:focus {
    border: none;
  }

  h2 {
    margin: 0;
  }

  img {
    width: auto;
    max-width: 100%;
    display: block;
  }

  figcaption {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-family: Merriweather, serif;
  }
}