$orange:     #EA6C1F;
$camel:      #D77331; // real camel
$blue:       #307FDC;
$purple:     #58367A;
$green:      #8CC152;
$apple:      #40A73E;
$yellow:     #FFE400;
$orange-red: #E44C3C;
$red:        #D2273A;
$pink:       #EB0066;

$gutter: 1em;
$column-count: 12;
$gap: calc(10px + 1.5vw);

$shadow: 3px 3px 1px rgba(0,0,0,0.15);
$serif: Playfair Display, Georgia, serif;
$sans-serif: "Quicksand", Arial, sans-serif;
$text: "Lato",Arial, sans-serif;

@import "utilities";
@import "syntax-highlighter";
@import "header";
@import "navigation";
@import "case-studies";
@import "conferences";
@import "podcasts";
@import "workshops";
@import "homepage";
@import "about";
@import "newsletter";
@import "footer";
@import "tables";
@import "availability-calendar";


abbr {
  text-decoration: none;
}


::-moz-selection {
  background: $yellow;
}


::selection {
  background: $yellow;
}


* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}


html {
  position: relative;
  background-color: #eee;
}


html, body {
  min-height: 100%;
}


body {
  font-family: $sans-serif;
  line-height: 1.6;
  color: #111;
  background: #fff;
  background-image: linear-gradient(to left, #eee, #fff 50%, #fff);
  position: relative;
  overflow-x: hidden;
  font-size: calc(14px + .3vw);
  font-weight: 400;

  margin: 1.5em 1em;
  box-shadow: 0 100px 20px rgba(0,0,0,0.001);

  &.homepage {

    &::before {
      // content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 95vh;
      min-height: 400px;
      background-color: #000;
      // background: url('../images/textures/black_denim.png');
      background-size: 70px 70px;
      transform: rotate(-12deg) scale(1.5);
      // background: linear-gradient(90deg, #000, #000 50%,  #fff);
      // filter: blur(2px);
      // background-blend-mode: multiply;
      // background-image: url('../images/netmag-photoshoot/grinning.png');
      // background-size: 100% auto;
      // background-repeat: no-repeat;
      

      @media all and (max-width: 1024px) {
        // background-image: url('../images/netmag-photoshoot/grinning--medium.png');
      }

      @media all and (max-width: 640px) {
        // background-image: url('../images/netmag-photoshoot/grinning--tall.png');
      }
    }
  }
}


.contact__email-address {
  color: $red;
  font-size: calc(1em + 2vw);
  font-weight: 600;
  margin: .5em 0;
}


/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .serif {
  font-weight: 900;
  font-family: $serif;
}


.descriptor {
  font-family: $sans-serif;
  font-size: 20px;
  color: #aaa;
  border-bottom: 1px solid;
  letter-spacing: 1.5px;
  font-weight: 300;
  text-transform: uppercase;

  .purple &, .green &, .blue & {
    color: #eee;
  }
}


h1, h2, h3, h4 , h5, h6 {
  line-height: 1.3;
  margin: 1.5em 0 .75em;
}


.h0 {
  font-size: calc(2em + 2.5vw);
  font-weight: 900;
  margin-top: 0;
  letter-spacing: -1px;
}


h1, .h1 {
  font-size: calc(1.25em + 2vw);
  margin-top: 0;
  line-height: 1.3;

  .article-wrapper & {
    font-size: 3em;
  }
}



// .side-lined {
//   text-transform: uppercase;
//   font-family: $serif;
//   text-align: center;
//   font-size: 4vw;
//   position: relative;

//   span {
//     background: #fff;
//     padding: 0 .5em;
//     position: relative;
//     z-index: 1;
//   }

//   &::before {
//     background: #666;
//     content: " ";
//     display: block;
//     height: 2px;
//     position: absolute;
//     top: 50%;
//     width: 100%;
//     left: 0;
//   }

//   &.light {
//     font-weight: 300 !important;
//   }
// }

// @media all and (max-width: 700px) {
//   .side-lined {
//     font-size: 2em;
//   }
// }
// @media all and (min-width: 2000px) {
//   .side-lined {
//     font-size: 3.75em;
//   }
// }


h2, .h2 {
  font-size: 2em;
  line-height: 1.3;

  code {
    text-transform: none;
  }

  &.contact-q {
    margin-top: 0;
  }
}


h3, .h3 {
  font-size: 1.8em;

  code {
    text-transform: none;
  }
}


h4 {
  font-size: 1.4em;
}


h5 {
  font-size: 1.2em;
  font-style: italic;
}


h6 {
  font-size: 1em;
}


h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
  color: $red;
  border-bottom: 5px solid;
}


dl {
  font-size: 20px;
}


p {
  margin: 1.75em 0 2em; 

  &:first-of-type {
    margin-top: 0;
  }
}


audio {
  margin: 30px 0;
  display: block;
}


input, select, button {
  font-family: Tahoma, sans-serif;
}


p, ul, ol {
  margin-bottom: 1em;
}


li {
  margin: .5em 0;
}


strong {
  font-weight: 700;
}


ol, ul {

  padding-left: 2.5em;

  @media all and (max-width: 768px) {
    padding-left: 1.5em;
  }
}


ol {
  list-style-type: decimal-leading-zero;
  list-style-color: #000;
}


ul {
  list-style: disc;
}


ul.table-list {
  list-style: none;
  padding: 0;

  li {
    padding: .5em 1em;
    margin: 0;
  }

  li:nth-of-type(odd) {
    background-color: #eee;
  }

  li:nth-of-type(even) {
    background-color: #fff;
  }

}


dt {
  font-weight: 600;
  margin: .5em 0;
}


dd {
  padding-left: .5em;
  margin: .5em 0 2em;
}


/*------------------------------------*\
    #LINKS#ANCHORS
\*------------------------------------*/

a {
  text-decoration: none;
  border-bottom: 2px solid $red;
  color: inherit;
  outline: none;

  &:hover, &:active {
    color: $red;
    border-bottom: 2px solid $red;
  }

  // .homepage & {

  //   border-bottom: 2px solid #fff;

  //   &:hover, &:active {
  //     color: #fff;
  //     border-bottom: 2px solid #fff;
  //   }

  // }

  &:not(.button):focus {
    background-color: $yellow !important;
    color: black !important;
  }

  figcaption & {
    color: inherit;
  }

  &.img-link {
    border: none !important;
  }
}


.anchorjs-link {
  border: none;
  color: $red;
  font-size: .75em;
  padding-top: 5px;
  position: relative !important;
  margin-left: -1.25em !important; // override script that injects this icon

  &:hover, &:focus {
    border: none;
  }
}


.size-2x {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 400;
}


.note {
  background: #eee;
  margin: 1em 0;
  font-size: .9em;
  font-style: italic;
  padding: 1em;

  a {
      color: inherit !important;
  }

  &.warning {
    color: #ea6153;
  }

  &.purple {
    background-color: $purple;
    color: #fff;
  }

  ul {
    font-size: inherit;
  }
}

.update {
  background-color: darken($green, 5%);
  color: white !important;
  font-style: normal;

  .article &::before {
      content: "Update: ";
  }

}

.update--neutral {
  background-color: $blue;
}

.sidenote {
  color: darken(orange, 5%);
  color: $apple;
  color: #d5696D;
  color: $blue;
  font-family: $serif;
  font-style: italic;
  font-weight: 500;
  font-size: .9em;

  p {
    margin: .75em 0;
  }
}


hr {
  border: 0;
    height: 5px;
    width: 150px;
    background-color: $red;
    margin: 100px auto;


  &.line--top {
    margin: 1em auto 50px;
  }

  &.line--bottom {
    margin: 70px auto 1em;
  }

  &.line--left {
    margin: 0 0 50px;
  }
}


code {
  background-color: inherit !important;
  padding: .25em;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  font-size: .9em;
  font-weight: bold;
}


img {
  max-width: 100%;
}


@import "educational-tools";

/*------------------------------------*\
    #BLOCKQUOTES
\*------------------------------------*/


blockquote {
  padding: 0;
  margin: 2em 0;
  color: #444;
  font-weight: bold;
  font-size: 1.2em;
  border-left: 10px solid $red;
  padding-left: 1em;
  position: relative;
  left: calc(-1em - 10px);

  figure figcaption {
    color: inherit;
  }
}

blockquote.testimonial {
  font-family: $sans-serif;
  width: 100%;
  position: relative;
  color: inherit;
  font-size: 1.1em;
  margin-top: 0;
  padding-left: 1em;
  font-weight: 400;
  left: 0;  

  @media all and (max-width: 786px) {
    background-size: 25px auto;
    font-size: 1em;
  }

  cite {
    display: block;
    font-weight: 300;
    font-size: 16px;
    color: inherit;
    font-style: normal;
    font-family: $sans-serif;
  }

  &.grey {
    color: #666;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

// .blockquote-testimonial {
//   border-left: 10px solid #ddd;
//   padding-left: 1em;
// }

.cite-with-image {
    display: block;

    figure {
      overflow: hidden;

      img {
        float: left;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        -webkit-shape-outside: circle();
        shape-outside: circle();
        margin: 10px;
        margin-right: 15px;
        border: 5px solid #ddd;
      }
      figcaption {
        padding-left: 0;
        text-align: left;
        font-size: 18px;
        font-style: normal;
        font-family: $sans-serif;

        p {
          line-height: 1.2;
          margin: .25em 0;
        }
      }
    }
}


/*------------------------------------*\
    #PULL-QUOTES
\*------------------------------------*/

.pull-quote {
  font-size: 1.6em;
  font-style: italic;
  font-family: $serif;
  padding: 1.25em 0;
  text-align: center;
  margin: 2em 0;
  position: static;
  color: #888;
  border-left: none;

  code {
    text-transform: none;
  }
}

@media screen and (max-width:34.375em) {/*550*/

  .pull-quote {
    display: none;
  }

}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.button {
  font-size: .9em;
  display: inline-block;
  margin: 1em;
  margin-left: 0;
  color: #fff;
  background-color: $red;
  padding: .6em 1.25em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  clear: both;
  // box-shadow: 0 6px darken($red, 20%), 0 12px 5px rgba(0,0,0,0.2);
  transition: background .15s linear,
              color .15s linear;
  text-align: center;

  .button--disabled {
      background-color: #ddd;
      color: #aaa;

      &:hover, &:focus, &:active {
          background-color: #ddd;
          color: #aaa;
      }
  }

  &.button--black {
    background: #333;
    color: #fff;

    &:hover, &:focus {
        color: #eee;
        background-color: #222;
    }

    &:active {
        color: #eee;
        background-color: #111;
        transform: translateY(6px);
    }
  }

  &:hover, &:focus {
      color: #fff;
      background-color: darken($red, 7%);
      border: none;
  }

  &:active {
      color: #eee;
      border: none;
      background-color: darken($red, 15%);
  }
}


* + .button {
    margin-left: 1em;
}


.button--full {
    font-size: 1.1em;
    padding: .75em 1em;
    width: 100%;
    margin: 1em 0;
    display: block !important;
}


.prompt {
  text-align: left;
  padding: 2em 1em;
}


.button-wrapper {
  text-align: center;

  small {
    display: block;

    a {
      border: none;
    }
  }
}


.slides-wrapper {
  position: relative;
  height: 0;
  padding-top: 56%;
  width: 100%;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}


/*------------------------------------*\
    #ARTTICLES-LIST
\*------------------------------------*/

.articles-list {
  list-style: none;
  padding: 0;

  li {
    margin: 0 0 5em;
  }
}


.post-title {
  font-size: 2.2em;
  letter-spacing: -1px;
  font-weight: 900;
  line-height: 1.4;
  border-width: .1em;
  font-family: $serif;
  font-weight: 600;

  &:hover, &:focus {
     border-width: .1em;
  }


  code {
    background-color: inherit;
  }
}


.compound-title {
  text-align: center;
}


.post-summary {
  text-align: justify;
  font-weight: 18px;
}


.subtitle {
  display: block;
  font-size: .5em;
  font-weight: 300;
  margin: 1em 0;
  color: #888;
}


.post-host {
  color: darken($green, 5%);

  &:before {
    content: "for ";
    color: #888;
  }
}


.post-meta {
  color: #333;
  font-size: .7em;
  display: block;
  margin-top: 1em;
}

@import "pagination.scss";


.nav--bar {
  list-style: none;
  overflow: hidden;
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;

  @media all and (max-width: 640px) {
      display: none;
  }

  .nav--bar__item {
    display: inline-block;
    padding: 0;
    margin: 0;    
  }

  a {
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      padding: .75em 1em;
      font-weight: bold;
      text-transform: uppercase;
  }

  &.light {
    // background-color: #fff;
    // color: #111;

    a {
      &:hover, &:focus {
        background-color: #111;
        color: #fff;
      }
    }
  }
  &.dark {
    // background-color: #111;
    // color: #fff;

    a {
      &:hover, &:focus {
        background-color: #fff;
        color: #111;
      }
    }
  }
}


/*------------------------------------*\
    #FIGURES
\*------------------------------------*/

figure {
  text-align: center;
  overflow: hidden;

  & > a {
    border: none;
    display: block;
    width: 100%;

    &:hover, &:focus {
      border: none;
    }

    img {
      display: block;
      margin: 0;
    }
  }

  img {
    width: auto;
    max-width: 100%;
  }

  &.double {
    img {
      display: inline-block;
      max-width: 48%;
    }
  }

  figcaption {
    font-style: italic;
    color: #999;
    padding: .5em 1em;
    font-size: .8em;
  }
}


@media (min-width: 1024px) {
  figure.wider {
    position: relative;
    width: 125%;
    left: -25%;
  }
}


@import "layout";

