
* {
    box-sizing: border-box;
}

body {
    font-family: Varela Round, sans-serif;
    line-height: 1.5;
    font-size: 1em;
    color: #222;
    background-size: 75% auto;
    margin: 0;
    background: #fff url(bg.svg) no-repeat;
    background-position: top left -1em;
    background-size: 75% auto;
}

a {
    color: inherit;
}

.checkbox {
    background: url(checkbox-unchecked.svg) no-repeat left 10px;
    padding: .5em;
    padding-left: 1.5em;
    position: relative;
    left: -1.4em;
    cursor: pointer;
}
input[type="checkbox"] {
    opacity: 0;
}
input[type="checkbox"]:checked ~ label.checkbox {
    background-image: url(checkbox-checked.svg);
}

code {
    font-family: Consolas, Monaco, Lucida Console, monospace;
    background-color: #888;
    color: #fff;
    padding: .1em .25em;
    font-size: .85em;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
}

svg a:hover {
    cursor: move;
}
ul {
    padding: 0;
    margin: 0;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image:  linear-gradient(to right, #ccc, #333, #ccc); 
    margin: 4em 0;
}

table {
    width: 100%;
}
td {
    padding: .5em 0;
}

.example-1, .example-2, .example-3 {
    overflow: hidden;
}
.example-container {
    max-width: 500px;
    margin: 1em auto;
    background-color: #333;
}

object {
    width: 100%;
}

#container {
    overflow: hidden;
    padding: 1em;
    background-size: auto 100%;
    position: relative;
}

header {
    padding: 1em 2em;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    overflow: hidden;
    font-size: .8em;
    text-transform: uppercase;
}
header ul {
    float: right;
    margin-top: 1.5em;
}
header ul li {
    display: inline-block;
    padding: .5em 1em;
}
header li:last-of-type {
    color: #fff;
    background-color: #EA2A55;
}
header a {
    text-decoration: none;
}
@media all and (max-width: 1090px) {
    header {
        text-align: center;
    }
    header ul, .logo {
        display: inline-block;
        float: none;
    }
}
nav {
    background-color: #222;
    color: #eee;
    line-height: 2em;
    overflow: hidden;
    padding: .5em 1em;
    text-align: center;
}
nav ul {
    width: 100%;
    display: inline-block;
}
nav ul li {
    display: inline-block;
    padding: .5em 1em;
    text-align: center;
}

.sidebar {
    padding: 1em;
}

.demo-wrapper {
    padding: 1em;
    overflow: hidden;
}

#demo {
    height: 0;
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin: 1em auto;
}

#demo svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

legend {
    padding: .5em 1em;
    border: none;
    position: relative;
    background-color: #222;
    color: white;
    margin-bottom: 2em;
    position: relative;
    left: -1.55em;
    width: 100%;
}
legend svg {
    fill: #fff;
    margin-right: .5em;
    display: inline-block;
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin-bottom: 2em;
    position: relative;
    padding: 0 1.5em;
}

fieldset div {
    margin: 1em 0;
}

.menu-type-style label {
    display: inline-block;
    position: relative;
    left: -1em;
    cursor: pointer;
}
input {
    max-width: 100px;
}
input[type="radio"] {
    visibility: hidden;
}
.demo-icon {
    display: inline-block;
    vertical-align: bottom;
    fill: #fff;
    stroke: #EA2A55;
    position: relative;
    top: -4px;
    cursor: pointer;
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
}
.icon-pizza, .icon-pie {
    transform: scaleX(-1);
}

.icon-semi-circle, .icon-full-circle {
    position: relative;
    top: -6px;
}


input[type="radio"]:checked ~ label svg{
    fill: #EA2A55;
    stroke: #EA2A55;
}

input[type="number"] {
    background: none;
    max-width: 3em;
    font-size: 1em;
    border: none;
    text-align: center;
    background-color: #fff;
    padding: .25em 0;
    border: 2px solid #fff;
}
input[type="number"]:focus {
    border: 2px solid #EA2A55;
}

input[type="range"] {
    vertical-align: middle;
    max-width: 100px;
    padding: 0;
}

.code-container {
    white-space: pre-wrap;
    position: relative;
    clear: both;
    padding: 1.5em 1em;
    font-size: 1.1em;
    background-color: #EA2A55;
    color: #eee;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
    display: none;
    margin-top: 2em;
}
pre {
    font-family: consolas;
}
.code-container::before {
    display: block;
    position: absolute;
    content: "Generated Code:";
    top: 0;
    line-height: 1.5;
    left: 0;
    color: white;
    background-color: #EA2A55;
    padding: .5em 1em;
}

#reset-button {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    font-family: Varela Round, sans-serif;
    font-size: .9em;
    margin: 0;
    display: block;
    margin: 1em 0;
    cursor: pointer;
    color: #EA2A55;
    text-align: right;
    overflow: hidden;
}
#reset-button:active, #reset-button:focus {
    outline: 1px solid #EA2A55;
}

#download-button {
    border-radius: 35px;
    line-height: 50px;
    width: 70px;
    height: 70px;
    text-decoration: none;
    /*position: fixed;*/
    /*bottom: 1em;*/
    /*left: 1em;*/
    padding: .5em 1em;
    overflow: hidden;
    background-color: #EA2A55;
    color: #fff;
    transition: width .1s linear;
    border: 3px solid #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.35);

    display: block;
    margin: 2em auto;
    width: 230px;
}
#download-button:hover {
    /*width: 230px;*/
}

#download-button svg {
    fill: #eee;
    stroke: #eee;
    position: relative;
    top: -5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

input[type="range"] {
  display: inline-block;
  background: none !important;
  
  -webkit-appearance: none;
    -moz-appearance: none;
}

input:focus {
    outline: 0;
    border: 2px solid #aaa;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100px;
    height: 5px;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #EA2A55;
    margin-top: -6px;
}
input[type=range]:disabled::-webkit-slider-thumb {
    background: #aaa;
}

input[type=range]::-moz-range-track {
    width: 100px;
    height: 5px;
    background-color: #ccc;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #EA2A55;
}
input[type=range]:disabled::-moz-range-thumb {
    background: #aaa;
}

input[type=range]::-ms-track {
    width: 100px;
    height: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 10px;
    color: transparent;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #EA2A55;
}

input[type=range]:disabled::-ms-thumb {
    background: #aaa;
}
.logo {
    display: inline-block;
    margin-left: 2em;
    margin-top: 5px;
    vertical-align: middle;
    width: 170px;
}
.logo img {
    max-width: 100%;
}


.wrapper {
    background-color: #f8f8f8;
    padding-top: 1px;
}

.contained {
    width: 100%;
    margin: 0 auto;
    padding: 2em;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}

.examples {
    background-color: #EA2A55;
    padding: 1em;
    color: #eee;
}

iframe {
    display: block;
    margin: 1em auto;
    max-width: 1200px;
}

#design-ux {
    background-color: #333;
    color: #fff;
}

footer {
    text-align: center;
    padding: 2em 1em;
    border-top: 1px solid #111;
    background: #fff url(bg.svg) no-repeat;
    background-size: auto 100%;
}

small {
    color: #aaa;
}

blockquote {
    margin: 2em 0;
    padding-left: 2em;
    border-left: 10px solid #eee;
}

.options {
    background-color: #f8f8f8;
    padding-bottom: 1em;
}
@media screen and (min-width: 800px) {
    .options {
        float: right;
        width: 40%;
        max-width: 500px;
        position: relative;
        right: -2em;
    }
    .demo-wrapper {
        width: 60%;
        float: left;
    }
    fieldset {
        font-size: .8em;
    }
    .contained {
        width: 80vw;
    }

}
@media screen and (min-width: 1024px) {
    #demo {
        width: 500px;
        padding-top: 70%;
    }
    fieldset {
        font-size: 1em;
    }
    .example-1 .example-container, .example-3 .example-container {
        max-width: 600px;
        width: 58%;
        float: left;
        margin-right: 2%;
    }
    .example-1 .description, .example-3 .description {
        float: right;
        width: 40%;
    }

    .example-2 .example-container {
        max-width: 600px;
        width: 58%;
        float: right;
        margin-left: 2%;
    }
    .example-2 .description {
        float: left;
        width: 40%;
    }
}

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
    -moz-border-radius:0 0 0 0;
    -webkit-border-radius:0 0 0 0;
    overflow-x:visible;
    overflow-y:hidden;
    vertical-align:baseline;
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-weight:400;
    font-style:normal;
    padding: 0;
}
.syntaxhighlighter.source{
    overflow:hidden;
}
.syntaxhighlighter .bold{
    font-weight:bold;
}
.syntaxhighlighter .italic{
    font-style:italic;
}
.syntaxhighlighter .line{
    white-space:prewrap;
}
.syntaxhighlighter table caption{text-align:left;padding:.5em 0}
.syntaxhighlighter table td.code{width:100%}
.syntaxhighlighter table td.code .container{position:relative}
.syntaxhighlighter table td.code .container textarea{box-sizing:border-box;position:absolute;left:0;top:0;width:100%;height:100%;border:none;background:white;padding-left:1em;overflow:hidden;white-space:pre}
.syntaxhighlighter table td.gutter .line{text-align:right;padding:0 .5em}
.syntaxhighlighter table td.code .line{padding:0 1em}
.syntaxhighlighter.nogutter td.code .container textarea,.syntaxhighlighter.nogutter td.code .line{padding-left:0}
.syntaxhighlighter.show{display:block}
.syntaxhighlighter.collapsed table{display:none}
.syntaxhighlighter.collapsed .toolbar{padding:.1em .8em 0 0;position:static;width:auto;height:auto}
.syntaxhighlighter.collapsed .toolbar span{display:inline;margin-right:1em}
.syntaxhighlighter.collapsed .toolbar span a{padding:0;display:none}
.syntaxhighlighter.collapsed .toolbar span a.expandSource{display:inline}
.syntaxhighlighter .toolbar{position:absolute;right:1px;top:1px;width:11px;height:11px;z-index:10}
.syntaxhighlighter .toolbar span.title{display:inline}
.syntaxhighlighter .toolbar a{display:block;text-align:center;text-decoration:none;padding-top:1px}
.syntaxhighlighter .toolbar a.expandSource{display:none}
.syntaxhighlighter.ie .toolbar{line-height:8px}
.syntaxhighlighter.ie .toolbar a{padding-top:0}
.syntaxhighlighter {font-weight: bold ;background-color:#fff; width: 100%; white-space: pre-wrap;white-space: -moz-pre-wrap;overflow-x: auto;}
.syntaxhighlighter .line.highlighted.number{color:black}
.syntaxhighlighter table caption{color:black}
.syntaxhighlighter .gutter{color:#afafaf;display: none; }
.syntaxhighlighter .gutter .line{border-right:3px solid #bbb;height: 30px; line-height: 30px;}
.syntaxhighlighter.printing .line .content{border:none}
.syntaxhighlighter.collapsed{overflow:visible}
.syntaxhighlighter.collapsed .toolbar{color:#3498DB;background:white;border:1px solid #6ce26c}
.syntaxhighlighter.collapsed .toolbar a{color:#3498DB}
.syntaxhighlighter.collapsed .toolbar a:hover{color:red}
.syntaxhighlighter .toolbar{color:white;border:none}
.syntaxhighlighter .toolbar a{color:white}
.syntaxhighlighter .toolbar a:hover{color:black}
.syntaxhighlighter .plain,.syntaxhighlighter .plain a{color:#333}
.syntaxhighlighter .comments,.syntaxhighlighter .comments a{color:#5C9238; font-style: italic;}
.syntaxhighlighter .string,.syntaxhighlighter .string a{color:#3498ff}
.syntaxhighlighter .keyword{color:deepPink}
.syntaxhighlighter .preprocessor{color:gray}
.syntaxhighlighter .variable{color:#a70}
.syntaxhighlighter .value{color:RGB(27, 107, 240)}//blue
.syntaxhighlighter .functions{color:#ff1493}
.syntaxhighlighter .constants{color:#06c}
.syntaxhighlighter .script{font-weight:bold;color:#3498DB;background-color:none}
.syntaxhighlighter .color1,.syntaxhighlighter .color1 a{color:#333;}
.syntaxhighlighter .color2,.syntaxhighlighter .color2 a{color:#ff1493}
.syntaxhighlighter .color3,.syntaxhighlighter .color3 a{color:red}
.syntaxhighlighter {
    display: block;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: .9em;
    padding: 1em 0;
    background-color: #ffffff;
    margin: 2em 0 !important;
    max-height: 500px;
    overflow-y: auto;
}
.syntaxhighlighter code {
    background: none;
    background-color: transparent;
    padding: 0 !important;
}

.toolbar_item {
    display: none;
}
