{{ partial "header.html" . }}

<div class="full-width">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="workshops__intro">
                    Want to level up your or your team’s front-end development skills, but are overwhelmed by the sheer amount of resources on different topics and don’t have enough time to read the never-ending amount of articles &amp; books available? Want to get up and running fast, learning the most recent and relevant skills to get the job done? I can help.
                </p>
            </div>
            <section class="col-5"> 
                <p> 
                    I am currently running front-end development workshops focusing on CSS and SVG. If your company, team, or event could benefit from a full or half-day workshop on one of these topics, I’d love to help provide you with one (or even two!).
                </p> 
                <p>
                	The workshops are packed with practical examples, exercises and insights that attendees can take away and start applying right away. Whether you’re a designer, developer, or a company employing teams of both—there’s something for everyone.
                </p>
                <p>
                	I also run private workshops, so if you’re a company who wants to give its employees and extra, intense shot of front end, I’m here to help. You can also request multiple workshops spread over multiple days—from general front end design and development, to deep dives. Just let me know what you require and we can adjust accordingly.
                </p>
            </section>
            <section class="col-6 col--right">
                <h2 class="upcoming-workshops__heading">Upcoming Workshops:</h2>
                <ul class="upcoming-workshops__list">
					<li class="upcoming-workshops__item">
						<strong>The SVG Coffee Cup</strong> @ <a href="https://smashingconf.com">SmashingConf</a>. 
						<br> June 15th, 2017 — New York City.
					</li>
					<li class="upcoming-workshops__item">
						<strong>The Front-End Espresso Shot</strong> @ <a href="https://sourceup.co.za/">Source Up!</a>. 
						<br> September 20th, 2017 — Johannesburg, South Africa.
					</li>
					<li class="upcoming-workshops__item">
						<strong>The Front-End Espresso Shot</strong> @ <a href="http://www.mirrorconf.com/">Mirror Conf</a>. 
						<br> October 10th, 2017 — Braga, Portugal.
					</li>
					<li class="upcoming-workshops__item">
						<strong>The Front-End Espresso Shot</strong> @ <a href="">Experience Code</a>. 
						<br> January 31st, 2018 — Vancouver, Canada.
					</li>
                </ul>

            </section>
        </div>
    </div>
</div>

<div class="full-width workshops__container">
	<div class="container">
		<div class="row">
			<h2 class="h1 mt0 center">The Workshops</h2>
			<ul class="workshops__list clearfix">
				{{ range .Pages }}  

				<li class="workshops__item">
					<a href="{{.RelPermalink}}">
						<h3>{{ .Params.WorkshopTitle }}</h3>
						<p>
							{{ .Params.WorkshopDescription }}
						</p>

						<p>
							<span class="color--red bold">Learn more about the workshop</span>
							<svg aria-hidden="true" width="32" height="32" viewBox="0 0 32 32" style="width: 1.2em; height: 1.2em; vertical-align: middle; position: relative;">
								<!-- <path fill="currentColor" d="M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 29c-7.18 0-13-5.82-13-13s5.82-13 13-13 13 5.82 13 13-5.82 13-13 13z"></path> -->
								<path fill="#D2273A" d="M11.086 22.086l2.829 2.829 8.914-8.914-8.914-8.914-2.828 2.828 6.086 6.086z"></path>
							</svg>
						</p>
					</a>
				</li> 

				{{ end }}
			</ul>
		</div>
	</div>
</div>

<div class="full-width grey"> 
	<div class="container">
		<div class="row">
			<div class="col-6"> 
				<blockquote class="testimonial standalone">
					<p>
						[Sara’s Workshops] are concise, heavily practical, hands-on and very, very useful. The feedback from attendees has been tremendous — due to Sara’s engagement and knowledge but also the level of depth covered in the SVG workshop she’s been running with us at SmashingConf LA. Highly recommended — exclamation mark!
					</p>
					<cite>—<a href="http://twitter.com/smashingmag">Vitaly Friedman, Editor in Chief, Smashing Magazine</a> <br><em>(Workshop Client)</em></cite>
				</blockquote>
			</div>
			<div class="col-5 col--right"> 
				<blockquote class="testimonial standalone">
					<p>
						Sara is an encyclopedia. Be ready to take notes and do exercises like crazy. Don't be afraid to ask, you'll get the right answers from her.
					</p>
					<cite>—Workshop attendee, SmashingConf LA</cite>
				</blockquote>
			</div>
		</div>
	</div>
</div>
<div class="full-width">
	<div class="clearfix container">
		<section class="col-12">
			<a href="mailto:contact@sarasoueidan.com" class="button button--full">Invite Me To Run A Workshop At Your Event</a>
		</section>
	</div>
</div>

{{ partial "footer.html" . }}