.educational-tools__heading {
	margin-top: 1em;
	font-family: $sans-serif;
	text-transform: uppercase;
	color: #888;
	font-size: 1.5em;
	font-weight: 300;
}

ul.educational-tools__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.educational-tools__item {
	padding: 0;
	margin-bottom: 4em;
	background: #f7f7f7;
	padding: 1em;

	img {
		
	}

	figure {
		text-align: left;
		overflow: visible;

		& > a {
			display: block;
			border: 5px solid #eee;
			transition: all .2s ease-out;

			-ms-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			transform: scale(1.05);

			&:hover, &:focus {
				border: 5px solid #fff;
				-ms-transform: scale(1.075);
				-webkit-transform: scale(1.075);
				transform: scale(1.075);
			}
		}
	}

	figcaption {
		font-style: normal;
		padding: 1em 0;
		color: #111;
	}

	
}