.main-header {
	padding: 1.5em 0;
	margin-bottom: 2em;
	position: relative;
	z-index: 1;
	// background-image: linear-gradient(#eee, #fff);

	.homepage & {
		margin-bottom: 1em;
	}
}

/*------------------------------------*\
    #LOGO
\*------------------------------------*/

    .logo {
    	display: block;
    	width: 100%;  
    	margin: 0 auto;
    	font-size: 16px;
    	font-weight: 300;

    	img {

		}

		.logo__image {
			display: block;
			border: none !important;

			img {
				width: 100%;
				max-width: 280px;

				@media all and (max-width: 400px) {
					max-width: 240px;
				}
			}
		}
	}


a.availability-indicator-wrapper {
	position: absolute;
	top: 30px;
	left: 330px;
	width: 10px;
	height: 10px;
	z-index: 100;
	border: none !important;
}


.availability-indicator {
	display: block;
	width: 100%;
	height: 100%;
	background-color: $green;
	border-radius: 50%;

	&::before, &::after {
		display: block;
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $green;
		border-radius: 50%;
		opacity: .95;
		animation: pulse 3s ease-out infinite;
	}
	&::after {
		animation-delay: 2s;
		animation: pulse 3s ease-out infinite;
	}
}

@keyframes pulse {
	from {
		transform: scale(1);
		opacity: .95;
	}
	to {
		transform: scale(3);
		opacity: 0;
	}
}


.header-bio {
	font-size: calc(.75em + .2vw);
	font-family: $sans-serif;
	font-weight: 400;
}