.homepage {
	h2, .h2 {
		// font-weight: 600;
	}

	h1, .h1 {
		// font-weight: 600;
	}
}

.homepage__welcome {
	text-align: center;
	// color: #fff;

	h2 {
		margin-bottom: .25em;
	}

	p {
		font-size: 1.3em;
		margin: 0 0 1.5em;
		font-weight: 300;
	}
}

.homepage__intro {
	font-size: 1.2em;
	padding-top: 2em;
	max-width: 500px;
	// color: #fff;

	@media all and (max-width: 1024px) {
		// color: #111;
	}
}

.homepage__photo-container { // photo of me
	display: block; 

	@media all and (max-width: 1024px) {
		max-width: 600px;
		margin: 0 auto 2em;
	} 
}

	.homepage__photo {
		width: 100%;
		// -ms-transform: rotate(-3deg);
		// -webkit-transform: rotate(-3deg);
		// transform: rotate(-3deg);
	}



.homepage {
	.card {
		padding: 1.5em 1em .5em;
		font-size: 1.1em;
		background: $red;
		color: #fff;
	}

	.cards-col {
		margin-top: -5vw;
		-ms-transform: rotate(3deg);
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg);
		border: 1px solid darken(#f5f5f5, 1%);
		box-shadow: 10px 15px 0 rgba(0,0,0,0.1);
		padding: 0;
	}

	@media all and (max-width: 1230px) {
		.cards-col {
			margin-top: 1em;
		}
	}
	
	@media all and (max-width: 1024px) {
		.cards-col {
			margin-top: 2em;
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			max-width: 600px;
		}
	}

	.award-card {
		margin-top: 75px;
		padding: 1.5em 1em;
		overflow: hidden;

		@media all and (max-width: 1024px) {
			max-width: 400px;
			margin: 0 auto;
		}
	}

	.award__figure {
		width: 40%;
		float: left;

		img {
			max-width: 250px; 
			width: 100%;
		}
	}
	.award__info {
		width: 60%;
		float: right;
		font-size: .75em;
		padding-left: 1em;
	}


	.card blockquote {
		font-size: .9em;
		border: none;
		font-family: Quicksand;
		font-weight: 400;
	}

}

.homepage__smb-photo {
	width: 100%; 
	position: relative; 
	left: -80px;
	margin-top: 1em;
}