<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Page.Description }}</title>
    <meta name="google-site-verification" content="yIFeaDSsvI7qzx8DTtQ7CBx3ZaZwD7vX_7F0yhrs_IY" />
    <meta name="language" content="en" />
    <meta name="description" content="Freelance Front-End Web Developer - Lebanon" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, user-scalable=1" />
    <meta name="keywords" content="freelancer, front-end web developer, HTML5, CSS3, Lebanon" />
    <link href="//plus.google.com/+SaraSoueidan" rel="author" />

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="alternate" type="application/rss+xml" title="Sara Soueidan: Articles Feed" href="/rss.xml" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@SaraSoueidan">
    <meta property="og:type" content="website" />
    <meta content="https://sarasoueidan.com" property="og:url" />
    <meta content="https://sarasoueidan.com" property="twitter:url" />

    <meta name="twitter:title" property="og:title" content="Sara Soueidan – Freelance front-end Web developer, author & speaker" />
    <meta property="og:image" content="https://sarasoueidan.com/images/me.png" />
    <meta name="twitter:image" content="https://sarasoueidan.com/images/me.png" />


    <meta content="Welcome to Sara Soueidan’s Web site." name="description" />
    <meta content="Welcome to Sara Soueidan’s Web site." name="twitter:description" property="og:description" />

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Quicksand:300,400,500,700|Rock+Salt" rel="stylesheet">

    <link rel="stylesheet" href="/css/screen.css">
    <script src="/js/classList.min.js"></script>

    <script>
        if('querySelector' in document
             && 'localStorage' in window
             && 'addEventListener' in window) {
             // Modern browser. Let's add JavaScript functionality
            var root = document.getElementsByTagName( 'html' )[0]; // '0' to assign the first (and only `HTML` tag)

            root.classList.add('enhanced');
        }
    </script>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="homepage">
    <header class="main-header full-width">
        <div class="container clearfix">
            <div class="col-5 logo">
                <a class="logo__image" href="{{ .Site.BaseURL }}"><img src="/images/logo.svg" alt="Sara Soueidan"></a> 
                <span class="header-bio uppercase">Front-end developer / Author / Speaker.</span>

                <a href="/hire/" class="availability-indicator-wrapper"><span class="availability-indicator"></span><span class="sr-only">Available for hire</span></a>
            </div>
            
            <div class="col-6 col--right">
                {{ partial "navigation.html" . }}
            </div>
        </div>
    </header>
