{{ partial "homepage-header.html" . }}

<div class="full-width" > 
	<div class="container clearfix">
		<div class="row">
			<div class="col-12 homepage__welcome">
				<h2 class="h1">Hi there! And welcome.</h2>
				<p>I’m Sara Soueidan,
				an independent front-end developer from Lebanon.</p>
			</div>
			<div class="col-7">
				<div class="homepage__photo-container">
					<img src="/images/sara-1.jpg" alt="Sara speaking at btconf stage in Duesseldorf, Germany" class="homepage__photo">
				</div>
			</div>
			<div class="col-5">
				<p class="homepage__intro">I work with design &amp; UX teams in companies and agencies around the globe, building a strong front-end foundation for fast, accessible and inclusive Web interfaces and experiences, with a strong focus on responsive design, accessibility and performance.
				</p>
			</div>
			<div class="col-5">
				<div class="award-card">
					<figure class="award__figure">
						<img src="images/net_awards-logo15.svg" alt="net awards logo" >
					</figure>
					<div class="award__info">
						<p>
							Named <strong>Developer of the Year</strong> and short-listed for <em>Outstanding Contribution of the Year</em> in the 2015 <a href="https://thenetawards.com/"><em>net</em> awards</a>, and awarded an O’Reilly Web Platform award for “exceptional leadership, creativity, and collaboration in the development of JavaScript, HTML, CSS, and the supporting Web ecosystem.” Microsoft also named me an Open Web Evangelist in 2015.
						</p>
					</div>
				</div>
			</div>


			<div class="clearfix">
				<div class="col-7 clearfix">
					<br>
					<br>
					<br>
					<br>
					<p class="h1" style="max-width: 70%">I co-authored a book on Responsive Web Design.</p>
					<p style="max-width: 70%">
						<a href="https://shop.smashingmagazine.com/products/smashing-book-5-real-life-responsive-web-design">Smashing Book 5: Real-Life Responsive Web Design</a> is a book that covers time-saving, practical techniques for crafting fast, maintainable and scalable responsive websites. I wrote an 80-pages long chapter about using SVG images in a Resposive Web Design workflow, including everything you need to know to get you up and running using SVG.
					</p>
					
					<img src="/images/smashing-book-5.jpg" alt="Smashing Book 5" class="homepage__smb-photo">

					<p style="max-width: 75%; float: right;">
						I also wrote 300+ entry-level articles in the <a href="http://tympanus.net/codrops/css_reference">Codrops CSS Reference</a>—an extensive list of CSS articles—alphabetisized, categorized, structured and detailed. This is an extensive reference to the most important CSS properties and concepts, available for free, for all skills levels—beginner to advanced.
					</p>

				</div>
				<div class="col-5 col--right cards-col">
					<div class="card">
						<blockquote class="testimonial">
							<p>
								“When you work with Sara, you get her vast knowledge of coding best practices, accessibility expertise, and cutting edge approaches. But you also get someone who cares about the overall health and quality of the work from every angle: user experience, visual design, usability, and much more. Sara’s the real deal.”
							</p>
							<cite class="cite-with-image">
								<figure>
									<figcaption>
										<p>—<strong>Dan Mall</strong>, Creative Director &amp; Advisor, SuperFriendly</p>
									</figcaption>
								</figure>
							</cite>
						</blockquote>	
					</div>
					<div class="card">
						<blockquote class="testimonial">
							<p>
								“There is something magical when you work with somebody knowledgeable, passionate, smart and extremely reliable. When working with Sara, that’s exactly the feeling you get — Sara is very professional with a keen eye for detail, knowing how to work around pitfalls and working hard to get to the best possible solution every single time.”
							</p>
							<cite class="cite-with-image">
								<figure>
									<figcaption>
										<p>—<strong>Vitaly Friedman</strong>, Editor in Chief, Smashing Magazine</p>
									</figcaption>
								</figure>
							</cite>
						</blockquote>
					</div>
					<div class="card">
						<blockquote class="testimonial">
							<p>
								“[Sara] is an incredibly knowledgeable and diligent developer. She captured the spirit of our company brilliantly. Anyone would be fortunate to work with her.” 
							</p>
							<cite class="cite-with-image">
								<figure>
									<figcaption>
										<p>—<strong>Alex Goldberg</strong>, CEO, Provata Health</p>
									</figcaption>
								</figure>
							</cite>
						</blockquote>
					</div>
					<div class="card">
						<blockquote class="testimonial">
							<p>
								“Sara doesn’t come without a price tag. But it's worth it.Up to date I have not worked with a freelancer so open-minded, innovative and not afraid to challenge client’s work as Sara. And best of all, its not just “talk”… but also “walk”.”
							</p>
							<cite class="cite-with-image">
								<figure>
									<figcaption>
										<p>—<strong>Sebastian Frommherz</strong>, Project Manager, COBI Bike</p>
									</figcaption>
								</figure>
							</cite>
						</blockquote>	
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-7 col--right">
					<br>
					<p class="h1">I also <a href="../speaking" class="">speak</a>, <a href="../workshops" class="">run workshops</a>, and <a href="../blog" class="">write articles</a> on front-end development.</p>

					<p class="h1">
						You can <a href="../hire/" class="">hire me</a>.
					</p>
				</div>
			</div>
		</div>			
	</div>
</div>


{{ partial "footer.html" . }}